.weatherPanelWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    & input {
        margin-top: 10px;
        border: none;
        border-bottom: 2px solid #999;
        outline: none;
        font-size: 20px;
        font-family: Ubuntu Condensed, serif;
    }

    .weatherPanelHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        & span {
            font-size: 40px;
            cursor: default;
        }
    }

    .weatherInfo {
        display: flex;
        height: 300px;
        flex-direction: column;
        background-color: #56ACC8;
        color: white;
        margin-bottom: 20px;

        border-radius: 15px;

        & span {
            font-size: 55px;
            cursor: default;
            margin-top: 20px;
            margin-left: 20px;
        }

        .weatherRow {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            padding-bottom: 20px;

            .weatherRowLeft, .weatherRowRight {
                display: flex;
                flex-direction: column;
            }

            .weatherRowRight {
                /*padding-left: 10px;*/
                margin-right: 40px;
                border-left: 2px white solid;

                .vietor_vystrahy {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;

                    .vystraha {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & span {
                            margin: 0 0 0 20px;
                        }
                    }
                }
            }
        }
    }

    .nextFourHours {

        .nextFourHours_tabs {
            margin-top: 20px;
        }

        .nextFourHours_tabs {
            font-size: 20px;
        }

        .underlined {
            text-decoration: underline #56ACC8;
        }

        .nextFourHours_tab:hover {
            cursor: pointer;
            text-decoration: underline #56ACC8;
        }

        .weatherInfoCards {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 620px) {
    .weatherPanelWrapper {
        max-width: 100%;

        .weatherInfoCards {
            justify-content: center !important;
            flex-wrap: wrap;
        }

        .weatherInfo {
            height: 100% !important;
        }

        .weatherRow {
            flex-direction: column;
        }

        .weatherRowRight {
            border: none !important;
        }
    }
}
