@media only screen and (max-width: 620px) {
  .dressupPanel-wrapper {
    & img {
      width: 100% !important;
    }
  }

  .dressup-panel {
    width: 160% !important;
    left: -20%;
  }
}

.dressup-panel {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.dressupPanel-wrapper {
  position: relative;
  display: flex;

  & img {
    position: absolute;
    top: -200px;
    left: -50px;
  }
}

.human {
  position: relative;
  width: 800px;
  height: 1000px;
}
.clothes {
  position: absolute;
  width: 800px;
  height: 1000px;
  transition: left 0.3s ease-in-out; /* Added transition property for smooth movement */
}

.layer1 {
}

.layer2 {
  
}


.clothes.pulsing {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
